@import "bootstrap-sprockets";
@import "bootstrap";

h3 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.learning {
    margin-top: 50px;
}

.learned {
    margin-top: 50px;
}


.footer {
    margin-top: 50px;
    text-align: center;
}