@import "bootstrap-sprockets";
@import "bootstrap";

h3 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.learning {
    margin-top: 50px;
}

.learned {
    margin-top: 50px;
}

div.learning, div.learned {
    max-width: 600px;
    margin: auto;
    border-radius: 12px;
}

#the_word {
    width: 15%;
}

#the_edit, #the_delete {
    width: 5%;
}

#the_def {
    width: 70%;
}


.main_links {
    margin-top: 30px;
    text-align: center;
}

#hide {
    font-size: 10px;
    font-style: italic;
    line-height: 300%;
    // display: inline-block;
    float: right;
    
}

.show_page {
     text-align: center;   
     #show_page_word {
         font-size: 3em;
     }
}

.body {
     margin-top: 100px;   
     text-align: center;
}

// #radio {
//     display: inline;
// }

nav.navbar.navbar-default > h2.text-center > a {
     color: rgba(94, 15, 28, 0.69);
     letter-spacing: 1.1px;
     text-decoration: none;
}

div.actions {
    padding-top: 10px;
}

.form-inline.practice {
    margin-top: 20px;
}

.home_links {
    margin-top: 20px;
}